<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jaxws="http://cxf.apache.org/jaxws"
	xmlns:soap="http://cxf.apache.org/bindings/soap"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-2.5.xsd 
		http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd">

	<import resource="classpath:META-INF/cxf/cxf.xml" />
	<import resource="classpath:META-INF/cxf/cxf-servlet.xml" />
	<import resource="classpath:META-INF/cxf/cxf-extension-soap.xml" />
	<!-- <bean -->
	<!-- class="org.springframework.remoting.jaxws.SimpleJaxWsServiceExporter"> -->
	<!-- <property -->
	<!-- name="baseAddress" -->
	<!-- value="http://localhost:8082/ws/" /> -->
	<!-- </bean> -->


	<bean id="freshRemixService" class="com.freshremix.ws.endpoint.OldFreshRemixServiceEndpoint">
		<property name="freshRemixServiceAdapter" ref="freshRemixServiceAdapter" />
	</bean>
	
	<jaxws:endpoint id="freshRemixServiceEndPoint"
		implementor="#freshRemixService" address="/FreshRemixService" />

	<bean id="freshRemixBuyerService"
		class="com.freshremix.ws.endpoint.FreshRemixBuyerServiceEndpoint">
		<property name="freshRemixBuyerServiceAdapter" ref="freshRemixBuyerServiceAdapter" />
	</bean>

	<jaxws:endpoint id="freshRemixBuyerServiceEndPoint"
		implementor="#freshRemixBuyerService" address="/FreshRemixBuyerService" />
		
	<bean id="freshRemixSellerService"
		class="com.freshremix.ws.endpoint.FreshRemixSellerServiceEndpoint">
		<property name="wsSellerService" ref="wsSellerService" />
	</bean>

	<jaxws:endpoint id="freshRemixSellerServiceEndPoint"
		implementor="#freshRemixSellerService" address="/FreshRemixSellerService" />	
</beans>