<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd"
   default-autowire="byName">
 
	<bean id="csvDownloader" class="com.freshremix.autodownload.CSVDownloader"/>
	
	<bean id="csvJobDetail" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean" scope="prototype">
		<property name="name" value="dlCsvJob" />
		<property name="targetObject" ref="csvDownloader" />
		<property name="targetMethod" value="download" />
		<property name="concurrent" value="true" />
	</bean>
	
	<!-- Dummy trigger set -->
	<bean id="cronTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
	    <property name="jobDetail" ref="csvJobDetail" />
	    <property name="cronExpression" value="0 0 0 1 1 ? 2099" />
<!--		<property name="cronExpression" value="59 * * * * ?" />-->
	</bean>
	
	<bean id="csvScheduler" class="org.springframework.scheduling.quartz.SchedulerFactoryBean" autowire="no">
		<property name="quartzProperties">
            <props>
                <prop key="org.quartz.scheduler.instanceName">eONScheduler</prop>
                <prop key="org.quartz.scheduler.instanceId">AUTO</prop>
                <prop key="org.quartz.threadPool.class">org.quartz.simpl.SimpleThreadPool</prop>
                <prop key="org.quartz.threadPool.threadCount">10</prop>
                <prop key="org.quartz.threadPool.threadPriority">5</prop>
                <prop key="org.quartz.jobStore.class">org.quartz.simpl.RAMJobStore</prop>
                <prop key="org.quartz.jobStore.misfireThreshold">60000</prop>
            </props>
        </property>
	    <property name="triggers">
	        <list>
	            <ref bean="cronTrigger" />
	        </list>
	    </property>
	</bean>
	
	<bean id="csvScheduleLoader" class="com.freshremix.autodownload.CSVScheduleLoader" />
</beans>