<?xml version="1.0" encoding="UTF-8"?>
<!-- NOTE: This is not anymore used.    Refer to ApplicationContext-main.xml for new applicationContext -->
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd"
   default-autowire="byName">
 
 	
  
    
	<bean
		id="transactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource"/>
	</bean>

	<tx:advice id="txAdvice" transaction-manager="transactionManager">
		<tx:attributes>
			<tx:method name="get*" read-only="true"/>
			<tx:method name="insert*" propagation="REQUIRED" rollback-for="Exception"/> 
			<tx:method name="save*" propagation="REQUIRED" rollback-for="Exception"/>
			<tx:method name="update*" propagation="REQUIRED" rollback-for="Exception"/>
			<tx:method name="delete*" propagation="REQUIRED" rollback-for="Exception"/>
			<tx:method name="reset*" propagation="REQUIRED" rollback-for="Exception"/>
			<tx:method name="createSheetWS" propagation="REQUIRED" rollback-for="Exception"/>
			<tx:method name="addSkuAllocation" propagation="REQUIRED" rollback-for="Exception"/>
	    </tx:attributes>
  	</tx:advice>
  	
	<aop:config>
	    <aop:pointcut id="allServiceOperation" expression="execution(* com.freshremix.service.*.*(..))"/>
	    <aop:advisor advice-ref="txAdvice" pointcut-ref="allServiceOperation"/>
  	</aop:config> 
  	
  	<!--  Performance Logging: Start
  	<bean name="peformanceAspect"  class="com.freshremix.aop.PerformanceAOP"/>
  	<bean name="proxyCreator" class="org.springframework.aop.framework.autoproxy.BeanNameAutoProxyCreator">
	    <property name="beanNames">
	        <list>
	            <value>*Dao</value>
	            <value>*Service</value>
	        </list>
	    </property>
	    <property name="interceptorNames">
	        <list>
	            <value>peformanceAspect</value>
	        </list>
	    </property>
	</bean>
 	 Performance Logging: End -->
 	
 	<bean id="eonLocale"
 		class="com.freshremix.ui.model.EONLocale">
 		<property name="localization" value="${eon.locale}"/> <!-- japanese -->
 		<!-- <property name="localization" value="en"/> --> <!-- english -->
 	</bean>
 	 	
	<bean id="messageSource"
		class="org.springframework.context.support.ResourceBundleMessageSource">
		<property name="basenames">
			<list>
				<value>com.freshremix.properties.error</value>
				<value>com.freshremix.properties.confirm</value>
				<value>com.freshremix.properties.label</value>
			</list>
		</property>
	</bean>
	
	
	
	<!-- Login Module Start-->
	<bean id="loginDao"
		class="com.freshremix.dao.impl.LoginDaoImpl">
		<property name="sqlMapClient" ref="sqlMapClient"/>
	</bean>
	
	<bean id="loginService"
		class="com.freshremix.service.impl.LoginServiceImpl">
		  <property name="messageForgotPassword"><ref bean="mailMessageForgotPassword"/></property>
		  <property name="messageInquiry"><ref bean="mailMessageInquiry"/></property>
	</bean>

	<bean id="mailMessageForgotPassword" class="org.springframework.mail.SimpleMailMessage">
	  <!--eON Admin email address-->
	  <property name="subject" value="[eON] Forgot Password"/>
	</bean>
	
	<bean id="mailMessageInquiry" class="org.springframework.mail.SimpleMailMessage">
	  <!--eON Admin email address-->
	  <property name="subject" value="[eON] Non-Member's Inquiry"/>
	</bean>
	<!-- Login Module End-->
	
	<!-- Admin Company Maintenance start -->
	<bean id="companyInfoDaos"
		class="com.freshremix.dao.impl.CompanyInformationDaoImpl">
		<property name="sqlMapClient" ref="sqlMapClient"/>
	</bean>
	
	<bean id="companyInfoService"
		class="com.freshremix.service.impl.CompanyInformationServiceImpl">
		<property name="companyInfoDao" ref="companyInfoDaos"></property>
	</bean>
	
	<bean id="usersInfoDaos"
		class="com.freshremix.dao.impl.UserDaoImpl">
		<property name="sqlMapClient" ref="sqlMapClient"/>
	</bean>
	
	<bean id="userInfoService"
		class="com.freshremix.service.impl.UsersInformationServiceImpl">
		<property name="usersInfoDao" ref="usersInfoDaos"></property>
		<property name="categoryService" ref="categoryService"></property>
		<property name="roleService" ref="roleService"></property>
	</bean>

	<bean id="categoryDaos"
		class="com.freshremix.dao.impl.CategoryDaoImpl">
		<property name="sqlMapClient" ref="sqlMapClient"/>
	</bean>
	
	<bean id="categoryService"
		class="com.freshremix.service.impl.CategoryServiceImp">
		<property name="categoryDao" ref="categoryDaos"></property>
	</bean>
	
	<bean id="rolesDaos"
		class="com.freshremix.dao.impl.RolesDaoImpl">
		<property name="sqlMapClient" ref="sqlMapClient"/>
	</bean>
	
	<bean id="roleService"
		class="com.freshremix.service.impl.RolesServiceImpl">
		<property name="rolesDao" ref="rolesDaos"></property>
	</bean>
	
	<bean id="compDPDaos"
		class="com.freshremix.dao.impl.CompanyDealingPatternDaoImpl">
		<property name="sqlMapClient" ref="sqlMapClient"/>
	</bean>
	
	<bean id="compDPService"
		class="com.freshremix.service.impl.CompanyDealingPatternServiceImpl">
		<property name="compDPDao" ref="compDPDaos"></property>
	</bean>
	<!-- Admin company Maintenance end -->
	
	<bean id="tosDaos"
		class="com.freshremix.dao.impl.TermsOfServiceDaoImpl">
		<property name="sqlMapClient" ref="sqlMapClient"/>
	</bean>
	<bean id="tosService" class="com.freshremix.service.impl.TOSServiceImpl">
		<property name="tosDao" ref="tosDaos"></property>
	</bean>

	<!-- Order Sheet: start -->
	<bean id="skuGroupDao" class="com.freshremix.dao.impl.SKUGroupDaoImpl" />
	<bean id="orderDao" class="com.freshremix.dao.impl.OrderDaoImpl"/>
	<bean id="orderSheetDao" class="com.freshremix.dao.impl.OrderSheetDaoImpl"/>
	<bean id="skuDao" class="com.freshremix.dao.impl.SKUDaoImpl"/>
	<bean id="dealingPatternDao" class="com.freshremix.dao.impl.DealingPatternDaoImpl"/>
	<bean id="orderItemDao" class="com.freshremix.dao.impl.OrderItemDaoImpl"/>
	<bean id="allocationDao" class="com.freshremix.dao.impl.AllocationDaoImpl"/>
	<bean id="receivedSheetDao" class="com.freshremix.dao.impl.ReceivedSheetDaoImpl"/>
	
	<bean id="skuGroupService"	class="com.freshremix.service.impl.SKUGroupServiceImpl"/>
	<bean id="orderSheetService" class="com.freshremix.service.impl.OrderSheetServiceImpl"/>
	<bean id="buyerOrderSheetService" class="com.freshremix.service.impl.BuyerOrderSheetServiceImpl"/>
	<bean id="allocationSheetService" class="com.freshremix.service.impl.AllocationSheetServiceImpl"/>
	<bean id="dealingPatternService" class="com.freshremix.service.impl.DealingPatternServiceImpl"/>
	<bean id="skuService" class="com.freshremix.service.impl.SKUServiceImpl"/>
	<bean id="receivedSheetService" class="com.freshremix.service.impl.ReceivedSheetServiceImpl"/>
	<!-- Order Sheet: end -->
	
	<bean id="downloadExcelService" class="com.freshremix.service.impl.DownloadExcelServiceImpl"/>
	<bean id="downloadExcelDao" class="com.freshremix.dao.impl.DownloadExcelDaoImpl"/>
	
	<!-- Akaden Sheet: start -->
	<bean id="akadenDao" class="com.freshremix.dao.impl.AkadenDaoImpl">
		<property name="sqlMapClient" ref="sqlMapClient"/>
	</bean>

	<bean id="akadenService" class="com.freshremix.service.impl.AkadenServiceImpl">
	</bean>
	<!-- Akaden Sheet: end -->
	
	<!-- PMF: start -->
	<bean id="pmfDao"
		class="com.freshremix.dao.impl.ProductMasterFileDaoImpl">
		<property name="sqlMapClient" ref="sqlMapClient"/>
	</bean>
	
	<bean id="pmfService"
		class="com.freshremix.service.impl.ProductMasterFileServiceImpl">
	</bean>
	<!-- PMF: end -->
	
	<bean id="userUtil"
		class="com.freshremix.util.UserUtil">
	</bean>
	<bean id="companyUtil"
		class="com.freshremix.util.CompanyUtil">
	</bean>
	<bean id="sortingUtil"
		class="com.freshremix.util.SortingUtil">
	</bean>
	
	<!-- Billing Sheet Module Start-->
	<bean id="orderBillingDao" class="com.freshremix.dao.impl.OrderBillingDaoImpl"/>
	<bean id="billingSheetService" class="com.freshremix.service.impl.BillingSheetServiceImpl"/>
	<!-- Billing Sheet Module End-->
	
	<!-- Akaden Sheet Module Start-->
	<bean id="orderAkadenDao" class="com.freshremix.dao.impl.OrderAkadenDaoImpl"/>
	<bean id="akadenSheetService" class="com.freshremix.service.impl.AkadenSheetServiceImpl"/>
	<!-- Akaden Sheet Module End-->
	
	<!-- Comments Module Start -->
	<bean id="commentsInboxDao" class="com.freshremix.dao.impl.CommentsInboxDaoImpl"/>
	<bean id="commentsOutboxDao" class="com.freshremix.dao.impl.CommentsOutboxDaoImpl"/>
	<bean id="commentsService" class="com.freshremix.service.impl.CommentsServiceImpl"/>
	<!-- Comments Module End -->
	
	<!-- Download Reports start -->
	<bean id="downloadCSVService" class="com.freshremix.service.impl.DownloadCSVServiceImpl"/>
	<bean id="downloadCSVDao" class="com.freshremix.dao.impl.DownloadCSVDaoImpl"/>
	<!-- Download Reports end -->
	
	<!-- SKU Sort : Start -->
	<bean id="skuSortService" class="com.freshremix.service.impl.SKUSortServiceImpl"/>
	<bean id="skuSortDao" class="com.freshremix.dao.impl.SKUSortDaoImpl"/>
	<!-- SKU Sort : End -->
	
	<!-- SKU Group Sort : Start -->
	<bean id="skuGroupSortService" class="com.freshremix.service.impl.SKUGroupSortServiceImpl"/>
	<bean id="skuGroupSortDao" class="com.freshremix.dao.impl.SKUGroupSortDaoImpl"/>
	<!-- SKU Group Sort : End -->
	
	<!-- Company/Buyers Sort : Start -->
	<bean id="companybuyersSortService" class="com.freshremix.service.impl.CompanyBuyersSortServiceImpl"/>
	<bean id="companybuyersSortDao" class="com.freshremix.dao.impl.CompanyBuyersSortDaoImpl"/>
	<!-- Company/Buyers : End -->
	
	<!-- Company/Sellers Sort : Start -->
	<bean id="companySellersSortService" class="com.freshremix.service.impl.CompanySellersSortServiceImpl"/>
	<bean id="companySellersSortDao" class="com.freshremix.dao.impl.CompanySellersSortDaoImpl"/>
	<!-- Company/Sellers : End -->

	<!-- OrderUnit: start -->
	<bean id="orderUnitDao"
		class="com.freshremix.dao.impl.OrderUnitDaoImpl">
		<property name="sqlMapClient" ref="sqlMapClient"/>
	</bean>
	
	<bean id="orderUnitService"
		class="com.freshremix.service.impl.OrderUnitServiceImpl">
	</bean>
	<!-- OrderUnit: end -->
	
	<!-- SKU Max Limit -->
	<bean id="skuMaxLimitDao"
		class="com.freshremix.dao.impl.SKUMaxLimitDaoImpl">
	</bean>
	<bean id="skuMaxLimitService"
		class="com.freshremix.service.impl.SKUMaxLimitServiceImpl">
	</bean>
	<!-- SKU Max Limit: End -->
	
	<!-- UserPreference: End -->
	<bean id="userPreferenceService"
		class="com.freshremix.service.impl.UserPreferenceServiceImpl">
		<property name="userPreferenceDao" ref="userPreferenceDao"></property>
	</bean>
	<bean id="userPreferenceDao"
		class="com.freshremix.dao.impl.UserPreferenceDaoImpl">
		<property name="sqlMapClient" ref="sqlMapClient"/>
	</bean>
	<!-- UserPreference: End -->
	
	<!-- UserPreference: End -->
	<bean id="forgotPasswordLinkService"
		class="com.freshremix.service.impl.ForgotPasswordLinkServiceImpl">
		<property name="forgotPasswordLinkDao" ref="forgotPasswordLinkDao"></property>
	</bean>
	<bean id="forgotPasswordLinkDao"
		class="com.freshremix.dao.impl.ForgotPasswordLinkDaoImpl">
		<property name="sqlMapClient" ref="sqlMapClient"/>
	</bean>
	
	 <bean
        id="freshRemixServiceAdapter"
        class="com.freshremix.ws.adapter.FreshRemixServiceAdapter" 
     />
      <bean
        id="freshRemixBuyerServiceAdapter"
        class="com.freshremix.ws.adapter.impl.FreshRemixBuyerServiceAdapterImpl" 
     />
     
     <!-- Audit Trail -->
     <bean id="auditTrailService" class="com.freshremix.service.impl.AuditTrailServiceImpl"/>
	 <bean id="auditTrailDao" class="com.freshremix.dao.impl.AuditTrailDaoImpl"/>
	 
	 <!-- Context -->
	 <bean id="springContext" class="com.freshremix.util.SpringContext" />
	 
	 <!-- Web Service -->
	 <bean id="webService" class="com.freshremix.service.impl.WebServiceImpl"/>
	 
	 <!-- Sheet Data -->
	 <bean id="sheetDataService" class="com.freshremix.service.impl.SheetDataServiceImpl"/>

	<bean id="skuBADao" class="com.freshremix.dao.impl.SKUBADaoImpl" />
	
	
	<bean id="autoDownloadDao" class="com.freshremix.dao.impl.AutoDownloadDaoImpl" />
	<bean id="autoDownloadService" class="com.freshremix.service.impl.AutoDownloadServiceImpl" lazy-init="true">
		<property name="emailTo" value="${eon.smtp.emailToEonDev}"/>
	</bean>
	<bean id="passwordHandler"
 		class="com.freshremix.autodownload.PasswordHandler">
 		<property name="securiryPassword" value="${eon.autodownload.password}"/>
 	</bean>
 	
 	
</beans>