<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd"
   default-autowire="byName">
 
 	 <bean
		id="propertyConfigurer"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:eonTest.properties</value>
				<value>classpath:jdbcTest.properties</value>
			</list>
		</property>
	</bean> 
	<bean
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
 
		<property name="location">
			<ref local="taxConfigPath"/>
		</property>
	</bean>
	<bean id="taxConfigPath" class="org.springframework.core.io.FileSystemResource">

		<constructor-arg><value>C:\eon\config\eONTax.properties</value></constructor-arg>
    </bean>   
<!--    <import resource="classpath:applicationContext.xml" /> -->
    <import resource="classpath:applicationContext-i18n.xml" />
    <import resource="classpath:applicationContext-datalayer.xml" />
    <import resource="classpath:applicationContext-servicelayer.xml" />
	<import resource="classpath:applicationContext-security.xml"/>
	<import resource="classpath:applicationContext-scheduler.xml"/>

	
	
	
    <import resource="classpath:datasourceTest.xml"/>
	<import resource="classpath:mailContextTest.xml"/>
     
	 <bean name="databaseTester" class="com.freshremix.common.test.CustomDatabaseTester">
            <constructor-arg ref="dataSource" />
            <constructor-arg value="EONTEST" />
     </bean>
</beans>