<?xml version="1.0" encoding="UTF-8"?>
<beans
    xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
    <bean
        class="org.springframework.remoting.jaxws.SimpleJaxWsServiceExporter">
        <property
            name="baseAddress"
            value="http://localhost:8082/" />
    </bean>

    <bean
        id="freshRemixService"
        class="com.freshremix.ws.endpoint.OldFreshRemixServiceEndpoint">
        <property
            name="freshRemixServiceAdapter"
            ref="freshRemixServiceAdapter" />
    </bean>
     
    <bean
        id="freshRemixBuyerService"
        class="com.freshremix.ws.endpoint.FreshRemixBuyerServiceEndpoint">
        <property
            name="freshRemixBuyerServiceAdapter"
            ref="freshRemixBuyerServiceAdapter" />
    </bean>
</beans>